<p id="notice"><%= notice %></p>

<h1>Listing Questionaire Templates</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questionaire_templates.each do |questionaire_template| %>
      <tr>
        <td><%= link_to 'Show', questionaire_template %></td>
        <td><%= link_to 'Edit', edit_questionaire_template_path(questionaire_template) %></td>
        <td><%= link_to 'Destroy', questionaire_template, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Questionaire template', new_questionaire_template_path %>
