<!DOCTYPE html>
<html>
<head charset="utf-8">
  <title>Patient Follow Up System</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>



	<%= render 'layouts/header' %>

	<div class="container">

		<% if notice %>
		<p class="notification notice">
			<%= notice %>
		</p>
		<% end %>

		<% if alert %>
			<p class="notification alert">
				<%= alert %>
			</p>
		<% end %>
	
		<%= yield %>

	</div>
	<br/><br/>

	<%= render 'layouts/footer' %>

</body>
</html>
